# Topic Modeling

## Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do **Latent Dirichlet Allocation (LDA)**, which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## Topic Modeling - Attempt #1 (All Text)

In [32]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm.pkl')
data

,aah,abandoned,able,about,above,absentminded,absolutely,absurd,abuse,academy,...,youyou,yum,yummy,yup,zero,zip,zombielike,zombies,zone,àshfá
full_name,,,,,,,,,,,,,,,,,,,,,
ELEMENTAL (2023),0,0,1,11,1,0,0,0,0,1,...,0,1,0,1,1,0,0,0,0,0
THE MONKEY KING (2023),4,0,2,21,0,0,0,0,0,0,...,0,0,0,3,0,0,0,0,0,10
DESPICABLE ME 3 (2017),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KLAUS (2019),8,0,0,38,0,1,2,0,1,0,...,2,0,0,0,0,0,3,2,1,0
THE BOSS BABY: FAMILY BUSINESS (2021),0,2,0,13,1,0,4,1,0,0,...,0,6,2,0,0,1,0,0,0,0

In [33]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [34]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

full_name,ELEMENTAL (2023),THE MONKEY KING (2023),DESPICABLE ME 3 (2017),KLAUS (2019),THE BOSS BABY: FAMILY BUSINESS (2021)
aah,0,4,0,8,0
abandoned,0,0,0,0,2
able,1,2,0,0,0
about,11,21,0,38,13
above,1,0,0,0,1

In [35]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [36]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix

cv = pickle.load(open("cv.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [37]:
from gensim import models

In [38]:
num_documents = len(corpus)
num_terms = len(corpus[0])  # Assuming all documents have the same length
print("Number of documents:", num_documents)
print("Number of terms:", num_terms)

Number of documents: 5
Number of terms: 1409

In [39]:
from gensim import corpora

# Create the id2word dictionary from the corpus
id2word = corpora.Dictionary.from_corpus(corpus, id2word=None)

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [40]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.027*"4145" + 0.011*"87" + 0.011*"3989" + 0.010*"1580" + 0.010*"3644" + 0.008*"3676" + 0.007*"1453" + 0.006*"2286" + 0.006*"1910" + 0.006*"1469"'),
 (1,
  '0.035*"4145" + 0.011*"2329" + 0.010*"3644" + 0.009*"3989" + 0.009*"3676" + 0.009*"1984" + 0.008*"4150" + 0.008*"1910" + 0.008*"1587" + 0.007*"2369"')]

In [41]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.030*"2329" + 0.029*"4145" + 0.023*"1984" + 0.013*"3444" + 0.012*"2369" + 0.010*"2104" + 0.008*"1587" + 0.008*"3676" + 0.008*"3989" + 0.008*"3644"'),
 (1,
  '0.032*"4145" + 0.010*"3676" + 0.009*"2369" + 0.009*"3644" + 0.009*"1125" + 0.008*"4150" + 0.007*"1587" + 0.007*"2688" + 0.007*"1910" + 0.007*"3989"'),
 (2,
  '0.035*"4145" + 0.012*"3644" + 0.012*"3989" + 0.009*"1910" + 0.009*"87" + 0.008*"3676" + 0.008*"3707" + 0.007*"155" + 0.007*"4150" + 0.007*"1453"')]

In [42]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.001*"4145" + 0.001*"3989" + 0.001*"3676" + 0.001*"87" + 0.001*"3644" + 0.001*"4150" + 0.001*"1587" + 0.001*"2369" + 0.001*"155" + 0.001*"1453"'),
 (1,
  '0.034*"2329" + 0.030*"4145" + 0.026*"1984" + 0.015*"3444" + 0.012*"2369" + 0.011*"2104" + 0.009*"1587" + 0.008*"3989" + 0.008*"2044" + 0.008*"3676"'),
 (2,
  '0.034*"4145" + 0.011*"3676" + 0.011*"2369" + 0.009*"1125" + 0.009*"3644" + 0.009*"4150" + 0.008*"1587" + 0.008*"2688" + 0.007*"1910" + 0.007*"3989"'),
 (3,
  '0.036*"4145" + 0.012*"3644" + 0.012*"3989" + 0.009*"1910" + 0.009*"87" + 0.008*"3676" + 0.008*"3707" + 0.007*"155" + 0.007*"4150" + 0.007*"1453"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)

One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [43]:
# Let's create a function to pull out nouns from a string of text

import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [44]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                        transcript
DESPICABLE ME 3  animated adventure despicable felonious gru lu...
ELEMENTAL        film journeys alongside unlikely pair ember wa...
KLAUS
THE BOSS BABY    tim his boss baby little bro ted have become a...
THE MONKEY KING  inspired epic chinese tale monkey king actionp...

In [45]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                        transcript
DESPICABLE ME 3  adventure gru lucy wilde agents avl plans chil...
ELEMENTAL        film journeys city fire water land airresident...
KLAUS
THE BOSS BABY    boss baby bro adults tim dad hedge fund ceo bo...
THE MONKEY KING  epic monkey family comedy monkey jimmy fightin...

In [46]:
stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Convert frozenset of stop words to a list
stop_words_list = list(stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words='english')
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names_out())
data_dtmn.index = data_nouns.index

In [48]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [49]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.034*"music" + 0.024*"grunts" + 0.021*"monkey" + 0.011*"king" + 0.010*"hey" + 0.010*"groans" + 0.010*"water" + 0.010*"stick" + 0.009*"youre" + 0.008*"world"'),
 (1,
  '0.014*"grunts" + 0.013*"tim" + 0.013*"youre" + 0.012*"chuckles" + 0.011*"thats" + 0.011*"time" + 0.009*"tabitha" + 0.009*"gasps" + 0.009*"gru" + 0.008*"hey"')]

In [50]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.022*"grunts" + 0.018*"monkey" + 0.017*"music" + 0.013*"youre" + 0.011*"tim" + 0.011*"hey" + 0.010*"thats" + 0.010*"king" + 0.010*"yells" + 0.009*"time"'),
 (1,
  '0.022*"gru" + 0.012*"chuckles" + 0.012*"gasps" + 0.011*"girls" + 0.010*"agnes" + 0.010*"sighs" + 0.009*"hey" + 0.009*"dru" + 0.009*"brother" + 0.008*"bratt"'),
 (2,
  '0.031*"music" + 0.021*"grunts" + 0.018*"water" + 0.015*"chuckles" + 0.011*"ember" + 0.010*"playing" + 0.009*"gasps" + 0.008*"groans" + 0.008*"dad" + 0.008*"city"')]

In [51]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.020*"tim" + 0.018*"grunts" + 0.015*"youre" + 0.015*"tabitha" + 0.014*"thats" + 0.012*"time" + 0.012*"baby" + 0.012*"chuckles" + 0.010*"babies" + 0.009*"dont"'),
 (1,
  '0.001*"music" + 0.001*"grunts" + 0.001*"monkey" + 0.001*"hey" + 0.001*"youre" + 0.001*"stick" + 0.001*"gasps" + 0.001*"groans" + 0.001*"laughs" + 0.001*"thats"'),
 (2,
  '0.025*"music" + 0.019*"grunts" + 0.017*"chuckles" + 0.013*"gasps" + 0.012*"water" + 0.012*"gru" + 0.009*"youre" + 0.009*"hey" + 0.009*"playing" + 0.008*"sighs"'),
 (3,
  '0.038*"monkey" + 0.034*"music" + 0.024*"grunts" + 0.020*"king" + 0.017*"stick" + 0.014*"hey" + 0.014*"laughs" + 0.013*"dragon" + 0.013*"world" + 0.013*"yells"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [52]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [53]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                        transcript
DESPICABLE ME 3  animated adventure despicable felonious gru lu...
ELEMENTAL        film journeys unlikely pair wade city fire wat...
KLAUS
THE BOSS BABY    boss baby little bro adults other tim married ...
THE MONKEY KING  epic chinese tale monkey family comedy charism...

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Convert frozenset of stop words to a list
stop_words_list = list(stop_words)

# Recreate a document-term matrix using only nouns and adjectives, and remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words_list, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aah,able,absentminded,absurd,academy,accent,accomplish,accomplishment,acorn,act,...,youryour,youve,yum,yummy,yup,zip,zombielike,zombies,zone,àshfá
DESPICABLE ME 3,0,1,0,0,1,0,0,0,0,0,...,0,4,1,0,0,0,0,0,0,0
ELEMENTAL,2,2,0,0,0,0,0,0,0,3,...,0,1,0,0,1,0,0,0,0,8
KLAUS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
THE BOSS BABY,4,0,1,0,0,1,1,0,5,0,...,1,2,0,0,0,0,1,2,1,0
THE MONKEY KING,0,0,0,1,0,0,0,2,0,1,...,0,2,5,2,0,1,0,0,0,0

In [55]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [56]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.052*"monkey" + 0.021*"stick" + 0.020*"music" + 0.015*"grunts" + 0.012*"lin" + 0.012*"king" + 0.010*"hey" + 0.009*"laughs" + 0.009*"dragon" + 0.008*"world"'),
 (1,
  '0.013*"grunts" + 0.011*"gasps" + 0.010*"chuckles" + 0.010*"music" + 0.009*"tim" + 0.008*"hey" + 0.008*"good" + 0.007*"gru" + 0.006*"tabitha" + 0.005*"baby"')]

In [57]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.022*"music" + 0.015*"grunts" + 0.013*"water" + 0.012*"ember" + 0.011*"gasps" + 0.011*"chuckles" + 0.008*"wade" + 0.008*"fire" + 0.007*"playing" + 0.007*"dad"'),
 (1,
  '0.022*"gru" + 0.015*"minionese" + 0.012*"gasps" + 0.009*"chuckles" + 0.009*"dru" + 0.008*"hey" + 0.008*"girls" + 0.008*"bratt" + 0.007*"agnes" + 0.007*"good"'),
 (2,
  '0.030*"monkey" + 0.016*"grunts" + 0.012*"stick" + 0.012*"music" + 0.011*"tim" + 0.010*"hey" + 0.008*"gasps" + 0.008*"tabitha" + 0.007*"lin" + 0.007*"king"')]

In [58]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.001*"grunts" + 0.001*"music" + 0.001*"gasps" + 0.001*"monkey" + 0.001*"tim" + 0.001*"hey" + 0.001*"chuckles" + 0.001*"baby" + 0.001*"whoa" + 0.001*"gru"'),
 (1,
  '0.018*"music" + 0.014*"gasps" + 0.013*"grunts" + 0.012*"gru" + 0.012*"chuckles" + 0.009*"water" + 0.008*"minionese" + 0.008*"ember" + 0.008*"hey" + 0.007*"good"'),
 (2,
  '0.031*"monkey" + 0.016*"grunts" + 0.013*"stick" + 0.013*"music" + 0.011*"tim" + 0.010*"hey" + 0.008*"gasps" + 0.008*"tabitha" + 0.007*"lin" + 0.007*"king"'),
 (3,
  '0.001*"monkey" + 0.001*"grunts" + 0.001*"music" + 0.001*"gasps" + 0.001*"hey" + 0.001*"tim" + 0.001*"chuckles" + 0.001*"stick" + 0.001*"tabitha" + 0.001*"groans"')]

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [59]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.060*"monkey" + 0.025*"stick" + 0.024*"music" + 0.017*"grunts" + 0.014*"king" + 0.014*"lin" + 0.011*"hey" + 0.010*"laughs" + 0.010*"dragon" + 0.009*"world"'),
 (1,
  '0.018*"music" + 0.014*"gasps" + 0.013*"grunts" + 0.012*"gru" + 0.012*"chuckles" + 0.009*"water" + 0.008*"minionese" + 0.008*"ember" + 0.008*"hey" + 0.007*"good"'),
 (2,
  '0.020*"tim" + 0.014*"tabitha" + 0.013*"grunts" + 0.010*"baby" + 0.009*"good" + 0.009*"chuckles" + 0.009*"gasps" + 0.008*"tina" + 0.008*"hey" + 0.008*"babies"'),
 (3,
  '0.000*"music" + 0.000*"grunts" + 0.000*"monkey" + 0.000*"hey" + 0.000*"gasps" + 0.000*"yells" + 0.000*"good" + 0.000*"world" + 0.000*"bam" + 0.000*"bigger"')]

These four topics look pretty decent. Let's settle on these for now.
* Topic 0: music, parents
* Topic 1: monkey, wife
* Topic 2: likes
* Topic 3: gru

In [61]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
#list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

### Assignment:
1. Try further modifying the parameters of the topic models above and see if you can get better topics.
2. Create a new topic model that includes terms from a different [part of speech](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html) and see if you can get better topics.

In [62]:
def nouns_verbs(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and verbs.'''
    is_noun_verb = lambda pos: pos[:2] == 'NN' or pos[:2] == 'VB' or pos[:2] == 'VBG'
    tokenized = word_tokenize(text)
    nouns_verbs = [word for (word, pos) in pos_tag(tokenized) if is_noun_verb(pos)] 
    return ' '.join(nouns_verbs)

In [63]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_add = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_add

                                                        transcript
DESPICABLE ME 3  animated adventure despicable felonious gru lu...
ELEMENTAL        film journeys unlikely pair wade city fire wat...
KLAUS
THE BOSS BABY    boss baby little bro adults other tim married ...
THE MONKEY KING  epic chinese tale monkey family comedy charism...

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Convert frozenset of stop words to a list
stop_words_list = list(stop_words)

# Recreate a document-term matrix using only nouns and adjectives, and remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words_list, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_add.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_add.index
data_dtmna

,aah,able,absentminded,absurd,academy,accent,accomplish,accomplishment,acorn,act,...,youryour,youve,yum,yummy,yup,zip,zombielike,zombies,zone,àshfá
DESPICABLE ME 3,0,1,0,0,1,0,0,0,0,0,...,0,4,1,0,0,0,0,0,0,0
ELEMENTAL,2,2,0,0,0,0,0,0,0,3,...,0,1,0,0,1,0,0,0,0,8
KLAUS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
THE BOSS BABY,4,0,1,0,0,1,1,0,5,0,...,1,2,0,0,0,0,1,2,1,0
THE MONKEY KING,0,0,0,1,0,0,0,2,0,1,...,0,2,5,2,0,1,0,0,0,0

In [65]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [66]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.013*"grunts" + 0.011*"gasps" + 0.010*"chuckles" + 0.010*"music" + 0.009*"tim" + 0.008*"hey" + 0.008*"good" + 0.007*"gru" + 0.006*"tabitha" + 0.005*"okay"'),
 (1,
  '0.051*"monkey" + 0.021*"stick" + 0.020*"music" + 0.015*"grunts" + 0.012*"lin" + 0.012*"king" + 0.010*"hey" + 0.009*"laughs" + 0.009*"dragon" + 0.008*"world"')]

In [67]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.024*"music" + 0.016*"grunts" + 0.014*"water" + 0.013*"ember" + 0.012*"gasps" + 0.011*"chuckles" + 0.008*"fire" + 0.008*"wade" + 0.008*"playing" + 0.007*"dad"'),
 (1,
  '0.020*"tim" + 0.014*"tabitha" + 0.013*"grunts" + 0.010*"baby" + 0.009*"chuckles" + 0.009*"good" + 0.009*"gasps" + 0.008*"tina" + 0.008*"hey" + 0.008*"babies"'),
 (2,
  '0.024*"gru" + 0.016*"minionese" + 0.012*"gasps" + 0.009*"chuckles" + 0.009*"dru" + 0.009*"hey" + 0.009*"bratt" + 0.009*"girls" + 0.008*"agnes" + 0.007*"good"'),
 (3,
  '0.060*"monkey" + 0.024*"stick" + 0.024*"music" + 0.017*"grunts" + 0.014*"lin" + 0.014*"king" + 0.011*"hey" + 0.010*"laughs" + 0.010*"dragon" + 0.009*"world"')]